body{
    background-color: rgb(255, 255, 255);
}
aside{
    background-color: rgb(81, 137, 241);
}
.sidebar{
    flex-basis: 16rem;
    flex-grow: 1;
}
.with-sidebar{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
}
.content{
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}
.wrapper{
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
.subtext{
    font-size: small;
}
.portrait{
    max-width:16rem;
    margin-left: 2rem;
    border-radius: 10%;
}
.aboutme{
    margin-left: 1rem;
}